openapi: "3.1.0"
info:
  title: PA Vietnam Support API
  version: "1.0.0"
  license:
    name: API
  description: API cho hệ thống ticket hỗ trợ khách hàng
  contact:
    name: PA Vietnam
    email: dev@pavietnam.vn

servers:
  - url: https://apigateway.pavietnam.vn
    description: Production

tags:
  - name: Ticket
    description: Các API liên quan đến ticket hỗ trợ khách hàng
  - name: Account
    description: Các API liên quan đến tài khoản
    
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /v1/users/{user_id}/tickets:
    get:
      $ref: "./paths/tickets/list.yaml#/get"
    post:
      $ref: "./paths/tickets/create.yaml#/post"
  /v1/users/{user_id}/tickets/{id}:
    $ref: "./paths/tickets/detail.yaml"
  /v1/users/{user_id}/tickets/{id}/close:
    $ref: "./paths/tickets/close.yaml"
  /v1/users/{user_id}/tickets/{id}/reopen:
    $ref: "./paths/tickets/reopen.yaml"
  /v1/users/{user_id}/tickets/{ticket_id}/feedback/{id}:
    $ref: "paths/tickets/feedback-update.yaml"
  /v1/users/{user_id}/tickets/{id}/support-staffs:
    $ref: "paths/tickets/support-staffs.yaml"
  /v1/users/{user_id}/tickets/{id}/conversations:
    $ref: "paths/tickets/conversations.yaml"
  /v1/users/{user_id}/tickets/{ticket_id}/ratings:
    $ref: "paths/tickets/ratings.yaml"
  /v1/users/{user_id}/tickets/{id}/feedback:
    $ref: "paths/tickets/feedback.yaml"
  /v1/users/{user_id}/tickets/{id}/change-assignee:
    $ref: "paths/tickets/change-assignee.yaml"