openapi: 3.1.0
info:
  title: PA Vietnam Support API
  version: 1.0.0
  license:
    name: API
  description: API cho hệ thống ticket hỗ trợ khách hàng
  contact:
    name: PA Vietnam
    email: dev@pavietnam.vn
servers:
  - url: https://apigateway.pavietnam.vn
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Ticket
    description: Các API liên quan đến ticket hỗ trợ khách hàng
  - name: Account
    description: Các API liên quan đến tài khoản
paths:
  /v1/users/{user_id}/tickets:
    summary: API Contract - API tạo ticket cho khách hàng.docx
    operationId: createTickets
    description: ''
    tags:
      - Ticket
    security:
      - bearerAuth: []
    x-permission: CHECK_NEWUPDATE
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    responses:
      '200':
        description: Thành công
        content:
          application/json:
            schema:
              $ref: ../../components/schemas/common/StandardSuccess.yaml
            example:
              success: true
              data: null
              error: null
      '400':
        $ref: ../../components/responses/BadRequest.yaml
      '401':
        $ref: ../../components/responses/Unauthorized.yaml
      '403':
        $ref: ../../components/responses/Forbidden.yaml
      '404':
        $ref: ../../components/responses/NotFound.yaml
      '422':
        description: |-
          4200 — Dữ liệu request không hợp lệ
          4462 — Tạo yêu cầu thất bại
        content:
          application/json:
            schema:
              $ref: ../../components/schemas/common/StandardError.yaml
      '500':
        $ref: ../../components/responses/InternalError.yaml
    requestBody:
      required: true
      content:
        multipart/form-data:
          schema:
            $ref: ../../components/schemas/ticket/CreateTicketsRequest.yaml
  /v1/users/{user_id}/tickets/{id}:
    get:
      summary: API Contract - API hiển thị chi tiết ticket cho khách hàng.docx
      operationId: getTicket
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetTicketData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 4200 — Dữ liệu request không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/users/{user_id}/tickets/{id}/close:
    put:
      summary: API Contract - API đóng ticket của khách hàng.docx
      operationId: updateClose
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            4200 — Dữ liệu request không hợp lệ
            4463 — Tạo phản hồi thất bại
            4464 — Câu hỏi đã đóng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/users/{user_id}/tickets/{id}/reopen:
    post:
      summary: API Contract - API mở lại ticket của khách hàng.docx
      operationId: createReopen
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            4200 — Dữ liệu request không hợp lệ
            4466 — Quá thời hạn cho phép mở lại
            4467 — Câu hỏi đang được mở
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateReopenRequest'
  /v1/users/{user_id}/tickets/{id}/conversations:
    post:
      summary: API Contract - API phản hồi ticket
      operationId: createConversations
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateConversationsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            4200 — Dữ liệu request không hợp lệ
            4463 — Tạo phản hồi thất bại
            4464 — Câu hỏi đã đóng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateConversationsRequest'
  /v1/users/{user_id}/tickets/{ticket_id}/ratings:
    post:
      summary: API Contract - Tạo rating ticket cho khách hàng.docx
      operationId: createRatings
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: ticket_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            4200 — Dữ liệu request không hợp lệ
            4462 — Tạo yêu cầu thất bại
            4469 — Ticket chưa được hoàn tất
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRatingsRequest'
  /v1/users/{user_id}/tickets/{id}/feedback:
    post:
      summary: API Contract - API tiếp nhận phản ánh góp ý khách hàng (feedback).docx
      operationId: createFeedback
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 4200 — Dữ liệu request không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateFeedbackRequest'
  /v1/users/{user_id}/tickets/{id}/change-assignee:
    post:
      summary: API Contract - API Yêu cầu đổi nhân viên hỗ trợ (ticket).docx
      operationId: createChangeAssignee
      description: ''
      tags:
        - Ticket
      security:
        - bearerAuth: []
      x-permission: CHECK_NEWUPDATE
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 4200 — Dữ liệu request không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChangeAssigneeRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    StandardSuccess:
      type: object
      required:
        - success
        - error
        - data
      properties:
        success:
          type: boolean
          example: true
        error:
          type:
            - 'null'
          example: null
        data:
          description: Dữ liệu trả về tuỳ vào từng endpoint khác nhau
    GetTicketDataConversations:
      type: object
      properties:
        id:
          type: integer
          description: Id cuộc trao đổi
          readOnly: true
        descriptions:
          type: string
          description: Nội dung
        files:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: Đường dẫn đến file
              category:
                type: string
                description: 'Phân loại:'
          description: Thông tin các tệp tin (xem thêm bên dưới)
        created_date:
          type: string
          description: Ngày tạo (Y-m-d H:i:s)
        owner:
          type: object
          properties:
            id:
              type: integer
              description: Id người tạo
              readOnly: true
            name:
              type: string
              description: Tên người tạo
            mgroup:
              type: integer
              description: 'Phân loại người dùng:'
          description: Thông tin người tạo (xem thêm bên dưới)
    GetTicketData:
      type: object
      properties:
        id:
          type: integer
          description: Id của ticket
          readOnly: true
        title:
          type: string
          description: Tiêu đề
        descriptions:
          type: string
          description: Nội dung yêu cầu hỗ trợ
        code:
          type: string
          description: Mã ticket
        created_date:
          type: string
          description: Ngày ticket được tạo (Y-m-d H:i:s)
        trangthai:
          type: integer
          description: Trạng thái thực của ticket
        status:
          type: string
          description: Trạng thái dành cho FE
        files:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: Đường dẫn đến file
              category:
                type: string
                description: 'Phân loại:'
          description: Thông tin các tệp tin (xem thêm bên dưới)
        department:
          type: object
          properties:
            id:
              type: integer
              description: Id của phòng ban
              readOnly: true
            name:
              type: string
              description: Tên phòng ban
          description: Thông tin phòng ban xử lý yêu cầu (xem thêm bên dưới)
        service:
          type: object
          properties:
            id:
              type: integer
              description: Id của dịch vụ
              readOnly: true
            domain:
              type: string
              description: Tên domain
            type:
              type: string
              description: Loại dịch vụ
          description: Thông tin về dịch vụ yêu cầu (xem thêm bên dưới)
        assignee:
          type: object
          properties:
            id:
              type: integer
              description: Id của dịch vụ
              readOnly: true
            name:
              type: string
              description: Tên nhân viên
            mgroup:
              type: integer
              description: 'Phân loại người dùng:'
          description: Thông tin về nhân viên hỗ trợ (xem thêm bên dưới)
        conversations:
          type: array
          items:
            $ref: '#/components/schemas/GetTicketDataConversations'
          description: Danh sách các phản hồi (xem thêm bên dưới)
    StandardError:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: integer
              description: 'Mã lỗi nội bộ của hệ thống: 4102: Token không hợp lệ hoặc đã hết hạn 4108: Không có quyền truy cập 4004: Không tìm thấy dữ liệu 4200: Dữ liệu không hợp lệ'
              example: 4200
            message:
              type: string
              example: Dữ liệu không hợp lệ
            data:
              type:
                - object
                - 'null'
    CreateReopenRequest:
      type: object
      properties:
        descriptions:
          type: string
          description: Nội dung
        files:
          type: array
          items:
            type: string
            format: binary
          description: Tệp đính kèm
    CreateConversationsRequest:
      type: object
      properties:
        descriptions:
          type: string
          description: Nội dung yêu cầu
        files:
          type: array
          items:
            type: string
            format: binary
          description: Tệp đính kèm
      required:
        - descriptions
    CreateConversationsData:
      type: object
      properties:
        id:
          type: integer
          description: Id của phản hồi
          readOnly: true
        descriptions:
          type: string
          description: Nội dung yêu cầu hỗ trợ
        files:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: Đường dẫn đến file
              category:
                type: string
                description: 'Phân loại:'
          description: Thông tin các tệp tin (xem thêm bên dưới)
        created_date:
          type: string
          description: Ngày tạo (Y-m-d H:i:s)
        owner:
          type: object
          properties:
            id:
              type: integer
              description: Id người tạo
              readOnly: true
            name:
              type: string
              description: Tên người tạo
            mgroup:
              type: integer
              description: 'Phân loại người dùng:'
          description: Thông tin người tạo (xem thêm bên dưới)
    CreateRatingsRequest:
      type: object
      properties:
        ratings:
          type: array
          items:
            type: object
            properties:
              supporter_id:
                type: integer
                description: ID nhân viên hỗ trợ
              stars:
                type: integer
                description: Số sao
              descriptions:
                type: string
                description: Nội dung đánh giá
            required:
              - supporter_id
              - stars
          description: Danh sách các đánh giá
        supporter_id:
          type: integer
          description: ID nhân viên hỗ trợ
        stars:
          type: integer
          description: Số sao
        descriptions:
          type: string
          description: Nội dung đánh giá
      required:
        - ratings
        - supporter_id
        - stars
    CreateFeedbackRequest:
      type: object
      properties:
        title:
          type: string
          description: Vấn đề bạn gặp phải
        descriptions:
          type: string
          description: Chi tiết sự việc
        files:
          type: array
          items:
            type: string
            format: binary
          description: Tệp đính kèm
      required:
        - title
        - descriptions
    CreateChangeAssigneeRequest:
      type: object
      properties:
        reason:
          type: string
          description: Lý do từ chối.
      required:
        - reason
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            data: null
            error:
              code: 400
              message: Bad Request
    Unauthorized:
      description: Token không hợp lệ hoặc đã hết hạn - Mã lỗi 4102
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4102
              message: Token không hợp lệ hoặc đã hết hạn
              data: null
    Forbidden:
      description: IP không hợp lệ - Mã lỗi 4108
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4108
              message: IP không được phép truy cập
              data: null
    NotFound:
      description: Không tim thấy dữ liệu - Mã lỗi 4004
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 4004
              message: Không tìm thấy dữ liệu
              data: null
    InternalError:
      description: Lỗi server không mong muốn
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
          example:
            success: false
            error:
              code: 500
              message: Lỗi hệ thống, vui lòng thử lại sau
              data:
                type:
                  - null
