openapi: 3.1.0
info:
  title: PA Vietnam Support API
  version: 1.0.0
  license:
    name: API
  description: API cho hệ thống ticket hỗ trợ khách hàng
  contact:
    name: PA Vietnam
    email: dev@pavietnam.vn
servers:
  - url: https://apigateway.pavietnam.vn
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Ticket
    description: Các API liên quan đến ticket hỗ trợ khách hàng
  - name: Account
    description: Các API liên quan đến tài khoản
paths:
  /v1/admin/internal-products:
    post:
      summary: Tạo sản phẩm nội bộ mới trong hệ thống
      operationId: createInternalProduct
      description: Tạo mới một sản phẩm nội bộ dành cho quản trị viên, cho phép định nghĩa thông tin sản phẩm chỉ sử dụng trong phạm vi nội bộ của hệ thống. Chỉ các tài khoản có quyền admin mới được phép thực hiện thao tác này.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters: []
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateInternalProductData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6401'
            category: Unique
            message: code đã tồn tại trong hệ thống
          - code: '6409'
            category: Format
            message: code không hợp lệ — chỉ cho [A-Z0-9_-], 2-64 chars
          - code: '6410'
            category: Business
            message: 'Kết hợp product_type + cert_type không hợp lệ (VD: EV + WILDCARD)'
    get:
      summary: Lấy danh sách sản phẩm nội bộ
      operationId: listInternalProducts
      description: Truy xuất danh sách tất cả sản phẩm nội bộ dành cho quản trị viên hệ thống. Chỉ người dùng có quyền admin mới được phép truy cập endpoint này.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Số trang (≥1)
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Record/trang (max 100)
        - name: is_enabled
          in: query
          required: false
          schema:
            type: integer
          description: 1=enabled, 0=disabled
        - name: product_type
          in: query
          required: false
          schema:
            type: string
          description: DV | OV | EV
        - name: cert_type
          in: query
          required: false
          schema:
            type: string
          description: SINGLE | WILDCARD | MULTI_DOMAIN | FLEX
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: LIKE code hoặc name (min 2 chars)
        - name: sort
          in: query
          required: false
          schema:
            type: string
            default: display_order:asc
          description: Format field:asc|desc
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListInternalProductsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
  /v1/admin/internal-products/{id}:
    delete:
      summary: Xóa sản phẩm nội bộ theo ID
      operationId: deleteInternalProduct
      description: Xóa vĩnh viễn một sản phẩm nội bộ khỏi hệ thống dựa trên ID được cung cấp. Chỉ quản trị viên có quyền thực hiện thao tác này và sản phẩm không thể khôi phục sau khi xóa.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteInternalProductData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteInternalProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6403'
            category: Business
            message: Không thể xóa — còn provider_product_mappings active liên kết
          - code: '6404'
            category: Business
            message: Không thể xóa — còn order active sử dụng internal product này
    get:
      summary: Lấy chi tiết sản phẩm nội bộ theo ID
      operationId: getInternalProductDetail
      description: Truy xuất thông tin chi tiết của một sản phẩm nội bộ dựa trên ID được cung cấp. Chỉ quản trị viên có quyền truy cập mới có thể xem thông tin sản phẩm nội bộ này.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetInternalProductDetailData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
    patch:
      summary: Cập nhật thông tin sản phẩm nội bộ
      operationId: updateInternalProduct
      description: Cập nhật thông tin của sản phẩm nội bộ theo ID được chỉ định. Chỉ admin mới có quyền thực hiện thao tác này và sản phẩm phải tồn tại trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInternalProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: ''
            message: id không tồn tại trong DB
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6402'
            category: ''
            message: Body chứa field immutable (product_type, cert_type, code)
          - code: '6405'
            category: ''
            message: Record tồn tại nhưng đã bị soft-delete
          - code: '6406'
            category: ''
            message: Body không chứa field mutable nào
          - code: '6407'
            category: ''
            message: default_san không phải integer hoặc < 0
          - code: '6408'
            category: ''
            message: max_san không phải integer hoặc < 1
  /v1/admin/internal-products/{id}/mappings:
    post:
      summary: Tạo mapping cho sản phẩm nội bộ
      operationId: createInternalProductMapping
      description: Tạo liên kết mapping mới cho sản phẩm nội bộ theo ID được chỉ định. Chỉ quản trị viên có quyền thực hiện thao tác này và mỗi sản phẩm phải đảm bảo tính duy nhất trong cấu hình mapping.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateInternalProductMappingData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalProductMappingRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6502'
            category: Compat
            message: Compatibility mismatch — product_type hoặc cert_type không khớp giữa internal product và provider product
          - code: '6503'
            category: Unique
            message: Internal product này đã có mapping với provider này — không thể map 2 sản phẩm của cùng 1 provider cho 1 internal
          - code: '6504'
            category: Business
            message: Provider product không tồn tại / đã xóa / provider đã bị disable hoặc soft-deleted
          - code: '6505'
            category: Unique
            message: Cặp (internal, provider_product) đã được mapping trước đó
          - code: '6506'
            category: Format
            message: routing_weight không hợp lệ — phải là integer trong range [1, 100]
    get:
      summary: Lấy danh sách mapping của sản phẩm nội bộ
      operationId: listInternalProductMappings
      description: Lấy danh sách các mapping liên kết của một sản phẩm nội bộ theo ID. Chỉ dành cho quản trị viên, yêu cầu ID sản phẩm hợp lệ và tồn tại trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: is_active
          in: query
          required: false
          schema:
            type: integer
          description: 1=active, 0=inactive
        - name: provider_code
          in: query
          required: false
          schema:
            type: string
          description: Filter theo provider code
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListInternalProductMappingsData'
                      internal_product_id:
                        type: string
                        readOnly: true
                      provider_product_id:
                        type: string
                        readOnly: true
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
  /v1/admin/internal-products/{id}/mappings/{mapping_id}:
    delete:
      summary: Xóa mapping của sản phẩm nội bộ
      operationId: deleteInternalProductMapping
      description: Xóa liên kết mapping của một sản phẩm nội bộ theo ID mapping cụ thể. Chỉ quản trị viên có quyền thực hiện thao tác này và mapping phải thuộc sản phẩm nội bộ tương ứng.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: mapping_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteInternalProductMappingData'
                      internal_product_id:
                        type: string
                        readOnly: true
                      provider_product_id:
                        type: string
                        readOnly: true
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteInternalProductMappingRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
          - code: '6501'
            category: Not Found
            message: Mapping không tồn tại (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6404'
            category: Business
            message: Không thể xóa — còn order active sử dụng internal product này
    patch:
      summary: Cập nhật ánh xạ sản phẩm nội bộ theo ID
      operationId: updateInternalProductMapping
      description: Cập nhật thông tin ánh xạ của sản phẩm nội bộ dựa trên ID sản phẩm và ID ánh xạ tương ứng. Chỉ quản trị viên có quyền thực hiện thao tác này và dữ liệu ánh xạ phải hợp lệ trước khi cập nhật.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: mapping_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInternalProductMappingRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
          - code: '6501'
            category: Not Found
            message: Mapping không tồn tại (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6506'
            category: Format
            message: routing_weight không hợp lệ — phải là integer trong range [1, 100]
          - code: '6402'
            category: Immutable
            message: Không cho update field immutable (id, code, product_type, cert_type, created_at, created_by)
  /v1/admin/internal-products/{id}/status:
    patch:
      summary: Bật hoặc tắt trạng thái sản phẩm nội bộ
      operationId: toggleInternalProductStatus
      description: Cập nhật trạng thái kích hoạt hoặc vô hiệu hóa của sản phẩm nội bộ theo ID. Chỉ quản trị viên có quyền thực hiện thao tác này và trạng thái sẽ ảnh hưởng đến khả năng hiển thị sản phẩm trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ToggleInternalProductStatusData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleInternalProductStatusRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '6004'
            category: Not Found
            message: Internal product không tồn tại (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '6405'
            category: Business
            message: Internal product đã soft-deleted, không thể thao tác
  /v1/admin/providers:
    post:
      summary: Tạo mới nhà cung cấp trong hệ thống
      operationId: createProvider
      description: Tạo mới một nhà cung cấp (provider) trong hệ thống quản trị. Chỉ tài khoản admin mới có quyền thực hiện thao tác này, thông tin nhà cung cấp phải đầy đủ và hợp lệ trước khi được lưu vào hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters: []
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateProviderData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '5401'
            category: Unique
            message: code đã tồn tại trong hệ thống
          - code: '5403'
            category: Format
            message: registered_ip không phải IPv4/IPv6 hợp lệ
          - code: '5404'
            category: Format
            message: sandbox_base_url / production_base_url không phải URL HTTPS hợp lệ
          - code: '5408'
            category: Format
            message: auth_extra không phải JSON object hợp lệ
          - code: '5409'
            category: Business
            message: code chứa ký tự không hợp lệ — chỉ cho [A-Z0-9_], 2-32 chars
          - code: '5414'
            category: Config
            message: Cấu hình list-products không đầy đủ — phải set đồng thời endpoint, method, request_template, response_path (all-or-none)
          - code: '5415'
            category: Format
            message: list_products_response_path không phải JSONPath hợp lệ hoặc list_products_timeout_seconds ngoài range [5, 120]
    get:
      summary: Lấy danh sách nhà cung cấp trong hệ thống
      operationId: listProviders
      description: Truy xuất toàn bộ danh sách nhà cung cấp hiện có trong hệ thống dành cho quản trị viên. Chỉ tài khoản có quyền admin mới được phép gọi API này.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Số trang
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Số record/trang (max 100)
        - name: is_enabled
          in: query
          required: false
          schema:
            type: integer
          description: 'Filter trạng thái: 1=enabled, 0=disabled, không truyền=tất cả'
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Tìm kiếm LIKE theo code hoặc name. Tối thiểu 2 ký tự.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            default: display_order:asc
          description: 'Format `field:asc|desc`. Các field: display_order, code, name, created_at, updated_at.'
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ListProvidersData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
  /v1/admin/providers/{id}:
    delete:
      summary: Xóa nhà cung cấp theo ID
      operationId: deleteProviderById
      description: Xóa thông tin một nhà cung cấp khỏi hệ thống dựa trên ID được chỉ định. Chỉ quản trị viên có quyền thực hiện thao tác này và nhà cung cấp không thể khôi phục sau khi đã xóa.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteProviderByIdData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProviderByIdRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '5406'
            category: Business
            message: Không thể xóa provider — vẫn còn provider_products active liên kết
    get:
      summary: Lấy thông tin chi tiết nhà cung cấp theo ID
      operationId: getProviderDetail
      description: Truy xuất thông tin chi tiết của một nhà cung cấp dựa trên ID duy nhất. Chỉ quản trị viên có quyền truy cập endpoint này và ID phải hợp lệ trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetProviderDetailData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
    patch:
      summary: Cập nhật thông tin nhà cung cấp theo ID
      operationId: updateProviderById
      description: Cập nhật một phần thông tin của nhà cung cấp dựa trên ID được chỉ định. Chỉ quản trị viên mới có quyền thực hiện thao tác này và các trường không được gửi lên sẽ giữ nguyên giá trị cũ.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderByIdRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '5403'
            category: Format
            message: registered_ip không phải IPv4/IPv6 hợp lệ
          - code: '5404'
            category: Format
            message: sandbox_base_url / production_base_url không phải URL HTTPS hợp lệ
          - code: '5408'
            category: Format
            message: auth_extra không phải JSON object hợp lệ
          - code: '5414'
            category: Config
            message: Cấu hình list-products không đầy đủ — phải set đồng thời endpoint, method, request_template, response_path (all-or-none)
          - code: '5415'
            category: Format
            message: list_products_response_path không phải JSONPath hợp lệ hoặc list_products_timeout_seconds ngoài range [5, 120]
          - code: '5405'
            category: Business
            message: Provider đã soft-deleted, không thể thao tác
          - code: '5402'
            category: Immutable
            message: Không cho phép update field immutable (code, id, created_at, created_by)
  /v1/admin/providers/{provider_code}/products:
    post:
      summary: Tạo sản phẩm mới cho nhà cung cấp
      operationId: createProviderProduct
      description: Tạo một sản phẩm mới thuộc nhà cung cấp được chỉ định bởi provider_code. Chỉ quản trị viên có quyền thực hiện thao tác này và provider_code phải tồn tại trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateProviderProductData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4401'
            category: Unique
            message: provider_product_code đã tồn tại trong phạm vi provider
          - code: '4403'
            category: Business
            message: Kết hợp product_type + cert_type không hợp lệ
          - code: '4404'
            category: Business
            message: years_supported rỗng hoặc không hợp lệ
          - code: '4405'
            category: Business
            message: MULTI_DOMAIN/FLEX nhưng thiếu min_san/max_san
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
    get:
      summary: Lấy danh sách sản phẩm của nhà cung cấp
      operationId: getProviderProductList
      description: Truy xuất danh sách tất cả sản phẩm thuộc một nhà cung cấp cụ thể dựa trên mã nhà cung cấp (provider_code). API chỉ dành cho quản trị viên và yêu cầu mã nhà cung cấp hợp lệ trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Số trang
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Số record/trang (max 100)
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: Tìm theo product_name, provider_product_code, brand. Tối thiểu 2 ký tự.
        - name: product_type
          in: query
          required: false
          schema:
            type: string
          description: 'Filter: DV | OV | EV'
        - name: cert_type
          in: query
          required: false
          schema:
            type: string
          description: 'Filter: SINGLE | WILDCARD | MULTI_DOMAIN | FLEX'
        - name: brand
          in: query
          required: false
          schema:
            type: string
          description: Filter theo brand (tìm kiếm chính xác)
        - name: is_enabled
          in: query
          required: false
          schema:
            type: integer
          description: 'Filter trạng thái: 1=enabled, 0=disabled, không truyền=tất cả'
        - name: min_years
          in: query
          required: false
          schema:
            type: integer
          description: Filter sản phẩm hỗ trợ ≥ min_years
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            default: display_order
          description: display_order | product_name | created_at | updated_at | wholesale_price_usd
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            default: asc
          description: asc | desc
        - name: include_deleted
          in: query
          required: false
          schema:
            type: integer
          description: 1 = bao gồm soft-deleted. Mặc định 0.
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetProviderProductListData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
  /v1/admin/providers/{provider_code}/products/{id}:
    delete:
      summary: Xóa sản phẩm của nhà cung cấp
      operationId: deleteProviderProduct
      description: Xóa một sản phẩm cụ thể thuộc nhà cung cấp dựa trên mã nhà cung cấp và ID sản phẩm. Thao tác này chỉ dành cho quản trị viên và không thể hoàn tác sau khi thực hiện.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeleteProviderProductData'
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProviderProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4004'
            category: Not Found
            message: Không tìm thấy sản phẩm (hoặc đã soft-deleted trước đó)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
          - code: '4407'
            category: Business
            message: Không thể xóa — vẫn còn Order active sử dụng sản phẩm
    get:
      summary: Lấy chi tiết sản phẩm của nhà cung cấp
      operationId: getProviderProductDetail
      description: Truy xuất thông tin chi tiết của một sản phẩm cụ thể thuộc nhà cung cấp dựa trên mã nhà cung cấp và ID sản phẩm. Chỉ quản trị viên có quyền truy cập mới được phép thực hiện thao tác này.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetProviderProductDetailData'
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4004'
            category: Not Found
            message: Không tìm thấy sản phẩm với id được cho (hoặc đã soft-deleted)
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
    patch:
      summary: Cập nhật sản phẩm của nhà cung cấp
      operationId: updateProviderProduct
      description: Cập nhật thông tin sản phẩm thuộc nhà cung cấp cụ thể theo mã nhà cung cấp và ID sản phẩm. Chỉ quản trị viên mới có quyền thực hiện thao tác này, đảm bảo dữ liệu sản phẩm luôn chính xác và đồng bộ trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderProductRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4004'
            category: Not Found
            message: Không tìm thấy sản phẩm
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4403'
            category: Business
            message: Kết hợp product_type + cert_type không hợp lệ
          - code: '4404'
            category: Business
            message: years_supported rỗng hoặc không hợp lệ
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
          - code: '4405'
            category: Business
            message: MULTI_DOMAIN nhưng thiếu min_san/max_san
          - code: '4406'
            category: Business
            message: Request chứa trường immutable không cho phép cập nhật
  /v1/admin/providers/{provider_code}/products/sync:
    post:
      summary: Đồng bộ sản phẩm từ nhà cung cấp
      operationId: syncProviderProducts
      description: Thực hiện đồng bộ danh sách sản phẩm từ nhà cung cấp (provider) vào hệ thống theo mã nhà cung cấp chỉ định. Chỉ quản trị viên mới có quyền thực hiện thao tác này và mỗi lần đồng bộ sẽ cập nhật toàn bộ thông tin sản phẩm hiện có.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: dry_run
          in: query
          required: false
          schema:
            type: boolean
          description: Mặc định false. true = preview danh sách sẽ INSERT mà KHÔNG INSERT/ghi audit/ghi sync_log.
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SyncProviderProductsData'
                      provider_id:
                        type: string
                        readOnly: true
                      sync_log_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncProviderProductsRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
          - code: '5413'
            category: Concurrency
            message: Đã có một tiến trình sync đang chạy cho provider này — chờ hoàn tất
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt — không thể tạo/cập nhật sản phẩm cho provider này
          - code: '5405'
            category: Business
            message: Provider đã soft-deleted, không thể thao tác
          - code: '5410'
            category: Business
            message: Provider không hỗ trợ đồng bộ sản phẩm (không có API list-products)
          - code: '5411'
            category: Config
            message: Field mapping config rỗng hoặc thiếu cho provider — cần admin cấu hình bảng provider_product_field_mappings trước
        '502':
          - code: '5412'
            category: Upstream
            message: Provider API trả lỗi hoặc timeout khi đồng bộ
  /v1/admin/providers/{provider_code}/products/{id}/status:
    patch:
      summary: Bật/tắt trạng thái sản phẩm của nhà cung cấp
      operationId: toggleProviderProductStatus
      description: Thay đổi trạng thái kích hoạt hoặc vô hiệu hóa một sản phẩm cụ thể của nhà cung cấp trong hệ thống. Chỉ quản trị viên có quyền thực hiện thao tác này và sản phẩm phải thuộc đúng nhà cung cấp được chỉ định.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: provider_code
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ToggleProviderProductStatusData'
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleProviderProductStatusRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4004'
            category: Not Found
            message: Không tìm thấy sản phẩm
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4409'
            category: Business
            message: Provider không tồn tại hoặc đã bị tắt
          - code: '4408'
            category: Business
            message: Sản phẩm đã soft-deleted, không thể toggle
  /v1/admin/providers/{id}/reveal-token:
    post:
      summary: Tiết lộ token xác thực của nhà cung cấp
      operationId: revealProviderToken
      description: API này cho phép quản trị viên xem token xác thực bí mật của một nhà cung cấp cụ thể dựa trên ID. Chỉ những người dùng có quyền admin mới được phép thực hiện thao tác này nhằm đảm bảo bảo mật hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RevealProviderTokenData'
                      provider_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevealProviderTokenRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
          - code: '5407'
            category: Re-auth
            message: Re-authentication thất bại (password sai khi reveal-token)
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '5405'
            category: Business
            message: Provider đã soft-deleted, không thể thao tác
  /v1/admin/providers/{id}/status:
    patch:
      summary: Bật hoặc tắt trạng thái nhà cung cấp
      operationId: toggleProviderStatus
      description: API cho phép quản trị viên bật hoặc tắt trạng thái hoạt động của một nhà cung cấp dựa trên ID. Chỉ tài khoản có quyền admin mới được phép thực hiện thao tác này, nhằm kiểm soát khả năng hiển thị và sử dụng của nhà cung cấp trong hệ thống.
      tags:
        - Admin
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ToggleProviderStatusData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleProviderStatusRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '5004'
            category: Not Found
            message: Không tìm thấy provider với id được cho (hoặc đã soft-deleted)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '5405'
            category: Business
            message: Provider đã soft-deleted, không thể thao tác
  /v1/csr/generate:
    post:
      summary: Tạo yêu cầu ký chứng chỉ CSR
      operationId: generateCsrRequest
      description: Tạo một yêu cầu ký chứng chỉ (Certificate Signing Request) mới dựa trên thông tin được cung cấp. Yêu cầu phải bao gồm đầy đủ thông tin định danh hợp lệ và tuân thủ các tiêu chuẩn mã hóa được quy định.
      tags:
        - Csr
      security:
        - bearerAuth: []
      x-permission: ''
      parameters: []
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GenerateCsrRequestData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCsrRequest'
  /v1/departments:
    get:
      summary: Lấy danh sách phòng ban gửi ticket
      operationId: getDepartmentList
      description: API trả về danh sách các phòng ban có quyền gửi ticket trong hệ thống. Chỉ các phòng ban đang hoạt động và được cấu hình mới được hiển thị trong kết quả trả về.
      tags:
        - Department
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: support_company
          in: query
          required: false
          schema:
            type: string
          description: 'Các giá trị hợp lệ:'
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetDepartmentListData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/orders/{id}/certificates/{certId}/download:
    get:
      summary: Tải xuống chứng chỉ của đơn hàng
      operationId: downloadOrderCertificate
      description: Tải xuống tệp chứng chỉ thuộc về một đơn hàng cụ thể dựa trên mã đơn hàng và mã chứng chỉ. Yêu cầu đơn hàng phải tồn tại và chứng chỉ phải thuộc về đơn hàng đó mới được phép tải xuống.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: certId
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - zip
              - json
            description: 'Định dạng file tải về: zip — trả file ZIP bundle; json — trả JSON với PEM strings.'
          description: zip (mặc định) — trả file ZIP bundle. json — trả JSON với PEM strings.
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4108'
            category: Auth
            message: IP không được phép
          - code: '4103'
            category: Auth
            message: Không có quyền
        '404':
          - code: '4001'
            category: Not Found
            message: Order hoặc Certificate không tồn tại
        '422':
          - code: '4310'
            category: State
            message: Certificate không ở trạng thái ISSUED — không thể download
          - code: '4302'
            category: State
            message: Certificate PEM chưa có — cert được cấp chưa hoàn chỉnh
  /v1/orders:
    post:
      summary: Tạo đơn hàng mới trong hệ thống
      operationId: createOrder
      description: Tạo một đơn hàng mới trong hệ thống với thông tin khách hàng và sản phẩm được cung cấp. Đơn hàng chỉ được tạo thành công khi tồn kho đủ số lượng và thông tin thanh toán hợp lệ.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters: []
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateOrderData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4003'
            category: Not Found
            message: internal_product_code không tồn tại hoặc đã soft-delete
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
          - code: '4502'
            category: Routing
            message: Không acquire được routing lock (concurrent WRR) — client retry sau 1s
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
          - code: '4221'
            category: Validation
            message: external_account_id là bắt buộc
          - code: '4222'
            category: Validation
            message: external_account_id phải là số nguyên ≥ 1
          - code: '4223'
            category: Validation
            message: customer_id là bắt buộc
          - code: '4224'
            category: Validation
            message: customer_id không được vượt quá 255 ký tự
          - code: '4225'
            category: Validation
            message: internal_product_code là bắt buộc
          - code: '4226'
            category: Validation
            message: internal_product_code không đúng định dạng (^[A-Za-z0-9_-]{2,64}$)
          - code: '4227'
            category: Validation
            message: years là bắt buộc
          - code: '4228'
            category: Validation
            message: years phải là số nguyên ≥ 1
          - code: '4229'
            category: Validation
            message: primary_domain là bắt buộc
          - code: '4230'
            category: Validation
            message: primary_domain không phải FQDN hợp lệ
          - code: '4231'
            category: Validation
            message: note không được vượt quá 500 ký tự
          - code: '4241'
            category: Validation
            message: contact.contact_admin.email không hợp lệ (RFC 5322)
          - code: '4242'
            category: Validation
            message: contact.contact_admin.phone phải theo định dạng E.164
          - code: '4251'
            category: Validation
            message: contact_org.name là bắt buộc khi cung cấp contact_org
          - code: '4252'
            category: Validation
            message: contact_org.address là bắt buộc khi cung cấp contact_org
          - code: '4253'
            category: Validation
            message: contact_org.country là bắt buộc khi cung cấp contact_org
          - code: '4254'
            category: Validation
            message: 'contact_org.country phải là mã ISO 3166-1 alpha-2 (VD: VN, US)'
          - code: '4255'
            category: Validation
            message: contact_org.phone phải theo định dạng E.164
          - code: '4261'
            category: Validation
            message: contact.contact_tech.email không hợp lệ (RFC 5322)
          - code: '4262'
            category: Validation
            message: contact.contact_tech.phone phải theo định dạng E.164
          - code: '4002'
            category: Business
            message: Internal product is_enabled=false — không cho phép tạo order mới
          - code: '4300'
            category: Business
            message: customer_id không tồn tại ở Internal Core
          - code: '4501'
            category: Routing
            message: Không có provider nào khả dụng — NO_PROVIDER_AVAILABLE
    get:
      summary: Lấy danh sách đơn hàng của hệ thống
      operationId: getOrderList
      description: API trả về danh sách tất cả đơn hàng trong hệ thống, hỗ trợ lọc theo trạng thái, ngày tạo và khách hàng. Chỉ người dùng có quyền truy cập mới có thể xem thông tin đơn hàng, đảm bảo tính bảo mật và phân quyền trong nghiệp vụ quản lý bán hàng.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: customer_id
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: product_type
          in: query
          required: false
          schema:
            type: string
        - name: cert_type
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
        - name: sort_dir
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GetOrderListData'
                      customer_id:
                        type: string
                        readOnly: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
  /v1/orders/{id}/dcv/change:
    post:
      summary: Thay đổi phương thức xác thực DCV của đơn hàng
      operationId: changeOrderDcvMethod
      description: API cho phép thay đổi phương thức xác minh quyền kiểm soát tên miền (DCV) cho một đơn hàng cụ thể. Chỉ áp dụng cho các đơn hàng đang trong trạng thái chờ xác thực và yêu cầu ID đơn hàng hợp lệ.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardSuccess'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ChangeOrderDcvMethodData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderDcvMethodRequest'
      x-error-responses:
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4108'
            category: Auth
            message: IP không được phép
          - code: '4103'
            category: Auth
            message: Không có quyền
        '404':
          - code: '4001'
            category: Not Found
            message: Order không tồn tại (hoặc đã bị xóa)
        '422':
          - code: '4761'
            category: ''
            message: domain là bắt buộc
          - code: '4762'
            category: ''
            message: method là bắt buộc
          - code: '4763'
            category: ''
            message: 'method không hợp lệ — chỉ cho: EMAIL, HTTP, CNAME'
          - code: '4764'
            category: ''
            message: approver_email không đúng định dạng email
          - code: '4765'
            category: ''
            message: approver_email bắt buộc khi method=EMAIL
          - code: '4751'
            category: State
            message: Cert không ở trạng thái PENDING hoặc REISSUE_PENDING
          - code: '4766'
            category: Business
            message: Phương thức DCV không hợp lệ cho cert_type này — WILDCARD/FLEX chỉ cho CNAME hoặc EMAIL
          - code: '4767'
            category: Business
            message: Primary domain là địa chỉ IP, chỉ hỗ trợ phương thức HTTP
          - code: '4768'
            category: Business
            message: WILDCARD/FLEX không hỗ trợ primary domain là địa chỉ IP — cấu hình sản phẩm không hợp lệ
          - code: '4752'
            category: Business
            message: Domain không tồn tại trong dcv_records của cert
          - code: '4755'
            category: Business
            message: Domain đã được xác minh (VALIDATED), không thể đổi phương thức DCV
          - code: '4757'
            category: Business
            message: Không tìm thấy provider cho đơn hàng
        '502':
          - code: '4851'
            category: Provider
            message: Provider API lỗi khi cập nhật phương thức DCV
  /v1/orders/{id}/dcv/records:
    get:
      summary: Lấy danh sách bản ghi DCV của đơn hàng
      operationId: getOrderDcvRecords
      description: Truy xuất danh sách các bản ghi xác thực kiểm soát tên miền (DCV) liên quan đến đơn hàng cụ thể theo ID. Chỉ các đơn hàng hợp lệ và đang trong quá trình xử lý mới có thể truy cập thông tin DCV này.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: 'Filter theo tên domain. Nếu cung cấp: chỉ trả record của domain đó. Nếu không: trả tất cả.'
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: 'Filter theo trạng thái: PENDING | VALIDATED | FAILED. Nếu không cung cấp: trả tất cả.'
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-error-responses:
        '400':
          - code: '4210'
            category: Format
            message: id không phải số nguyên dương hợp lệ (BIGINT, không phải UUID)
          - code: '4200'
            category: Input
            message: Giá trị query param status không hợp lệ
        '401':
          - code: '4101'
            category: Auth
            message: Thiếu Authorization header
          - code: '4102'
            category: Auth
            message: Bearer Token không hợp lệ / hết hạn
        '403':
          - code: '4103'
            category: Auth
            message: Client không có scope=admin
          - code: '4108'
            category: Auth
            message: IP không được phép
        '404':
          - code: '4001'
            category: Not Found
            message: Order không tồn tại (hoặc đã bị xóa)
        '409':
          - code: '4090'
            category: Idempotency
            message: Idempotency-Key đang xử lý (concurrent)
          - code: '4091'
            category: Idempotency
            message: Double submit — payload trùng trong dedup window
        '422':
          - code: '4200'
            category: Input
            message: Dữ liệu request không hợp lệ (validate chung)
  /v1/orders/{id}/dcv/resend-email:
    post:
      summary: Gửi lại email xác thực DCV cho đơn hàng
      operationId: resendDcvEmail
      description: Gửi lại email xác thực kiểm soát tên miền (DCV) cho đơn hàng chỉ định. Chức năng này chỉ áp dụng khi đơn hàng đang chờ xác thực tên miền và email xác thực trước đó chưa được xử lý.
      tags:
        - Order
      security:
        - bearerAuth: []
      x-permission: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardSuccess'
              example:
                success: true
                data: null
                error: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/StandardError422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendDcvEmailRequest'
  /v1/orders/{id}/dcv/validate:
    post:
      summary: Xác thực DCV cho đơn hàng
      operationId: validateOrderDcv
[...]
